<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Menu</title>
</head>
<body class="body">
    <header>
        <img src="/assets/FRONT.png" alt="front do site">
    </header>
    <a class="admin" href="/admin">admin</a>

    <h1 class="main-title">Sugestão do Chef</h1>
    <div class="carrossel">       
        <% produtos.forEach((produto)=>  { %>       
            <% if(produto.view == "1") %>
                <div class="carrossel-container hide" >
                  <img src="<%= produto.img%>" alt="destaque"/>
                    <h1><%=produto.title%> </h1>                  
                </div>                          
        <%}) %>     
    </div>
                   

   
    <h3 class="toggle portion-title">Porções</h3>
    <div >
        <% produtos.forEach((produto)=>  { %>       
            <% if(produto.category =='porcoes'){ %>
                <div class="card">
                    <p> <%= produto.title%></p> 
                    <p> <%= produto.briefDescription%></p> 
                    <p style="display:none"> <%= produto.largeDescription%></p> 
                    <p style="display:none"> <%= produto.img%></p> 
                    <p> <%= produto.price%></p> 
                </div>
                <%} %>       
        <%}) %>      
    </div>
        
    <h3 class="toggle portion-title">Bebidas</h3>
    <div>
        <h5 class="toggle ">Cerveja</h5>
        <div >
            <% produtos.forEach((produto)=>  { %>       
                <% if(produto.category =='cervejas'){ %>
                    <div class="card">
                        <p> <%= produto.title%></p> 
                        <p> <%= produto.briefDescription%></p> 
                        <p style="display:none"> <%= produto.largeDescription%></p> 
                        <p style="display:none"> <%= produto.img%></p> 
                        <p> <%= produto.price%></p> 
                    </div>
                    <%} %>       
            <%}) %>      
        </div>

        <h5 class="toggle">Refrigerante</h5>
        <div >
            <% produtos.forEach((produto)=>  { %>       
                <% if(produto.category =='refrigerantes'){ %>
                    <div class="card">
                        <p> <%= produto.title%></p> 
                        <p> <%= produto.briefDescription%></p> 
                        <p style="display:none"> <%= produto.largeDescription%></p> 
                        <p style="display:none"> <%= produto.img%></p> 
                        <p> <%= produto.price%></p> 
                    </div>
                    <%} %>       
            <%}) %>      
        </div>
        <h5 class="toggle ">Drinks</h5>
        <div >
            <% produtos.forEach((produto)=>  { %>       
                <% if(produto.category =='drinks'){ %>
                    <div class="card">
                        <p> <%= produto.title%></p> 
                        <p> <%= produto.briefDescription%></p> 
                        <p style="display:none"> <%= produto.largeDescription%></p> 
                        <p style="display:none"> <%= produto.img%></p> 
                        <p> <%= produto.price%></p> 
                    </div>
                    <%} %>       
            <%}) %>      
        </div>
        
        <h5 class="toggle ">Sucos</h5>
        <div >
            <% produtos.forEach((produto)=>  { %>       
                <% if(produto.category =='sucos'){ %>
                    <div class="card">
                        <p> <%= produto.title%></p> 
                        <p> <%= produto.briefDescription%></p> 
                        <p style="display:none"> <%= produto.largeDescription%></p> 
                        <p style="display:none"> <%= produto.img%></p> 
                        <p> <%= produto.price%></p> 
                    </div>
                    <%} %>       
            <%}) %>      
        </div>   
    </div>
    <h3 class="toggle portion-title">Lanches</h3>
    <div >
        <% produtos.forEach((produto)=>  { %>       
            <% if(produto.category =='lanches'){ %>
                <div class="card">
                    <p> <%= produto.title%></p> 
                    <p> <%= produto.briefDescription%></p> 
                    <p style="display:none"> <%= produto.largeDescription%></p> 
                    <p style="display:none"> <%= produto.img%></p> 
                    <p> <%= produto.price%></p> 
                </div>
                <%} %>       
        <%}) %>      
    </div>

    <h3 class=" toggle portion-title">Pratos</h3>
    <div >
        <% produtos.forEach((produto)=>  { %>       
            <% if(produto.category =='pratos'){ %>
                <div class="card">
                    <p> <%= produto.title%></p> 
                    <p> <%= produto.briefDescription%></p> 
                    <p style="display:none"> <%= produto.largeDescription%></p> 
                    <p style="display:none"> <%= produto.img%></p> 
                    <p> <%= produto.price%></p> 
                </div>
                <%} %>       
        <%}) %>      
    </div>
    <section class=modal-window>
        <button class="hidden">x</button> 
        <div>

        </div>
    </section>

    <script> 
    
        class OpenSession{
            constructor(){
                this.target = document.querySelectorAll('.toggle')      
            }
            
            addEvent(){
                this.target.forEach((item, index) => [
                    item.addEventListener('click',()=>{
                        this.showHide(index)
                    })
                ])
                this.target.forEach(item => {
                item.nextElementSibling.classList.add("hide")
            })
            }

            showHide(index){            
            const teste1 = this.target[index].nextElementSibling.classList.toggle('hide')      
            }   

            init(){
                this.addEvent()                     
            }
        }

        class ShowModal{
            constructor(){
                this.produto = document.querySelectorAll(".card")
                this.modal = document.querySelector(".modal-window")
                this.closeModal = document.querySelector(".hidden")
            }

            addEvent(){
                this.produto.forEach((item,index) =>{
                    item.addEventListener('click',()=>{
                        this.showDetail(index)
                    })                    
                })
                this.closeModal.addEventListener('click',()=>{
                    this.hideModal()
                })
            }

            hideModal(){                
                this.modal.classList.remove("show")
                this.div.innerHTML = "";           
            }

            showDetail(index){
               this.modal.classList.add("show")
              const titleModal = document.createElement('h1')
              const textModal = document.createElement('p')
              const imgModal = document.createElement('img')
              const priceModal = document.createElement('p')
              this.div = document.createElement('div')           

              titleModal.innerText = this.produto[index].children[0].innerHTML;
              textModal.innerText = this.produto[index].children[2].innerHTML;              
              imgModal.setAttribute('src', this.produto[index].children[3].innerHTML)
              priceModal.innerText = this.produto[index].children[4].innerHTML;          
           
              this.div.appendChild(titleModal)
              this.div.appendChild(imgModal)
              this.div.appendChild(textModal)
              this.div.appendChild(priceModal)
              this.modal.appendChild(this.div)             
            }

            init(){               
                this.addEvent();
            }
        }

        class Slide{
            constructor(){
                this.container = document.querySelectorAll(".carrossel-container") 
                this.index = 0
            }
            
            show(){
                const teste = this.container.length -1;
                this.container[this.index].classList.add('show')

                setInterval(()=>{
                    
                this.container.forEach(item=>{
                    item.classList.remove('show')
                    this.container[this.index].classList.add('show')
                })                
                this.container[this.index].classList.add('show')
                this.index++
                if(this.index>teste) this.index = 0
                console.log(this.index)
                },2000)   
            }

            init(){               
                this.show();
            }
        }

        const open = new OpenSession();
        const show = new ShowModal()
        const slide = new Slide()

        open.init();
        show.init();
        slide.init();
    </script>
</body>
</html>

